.squad-header {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
}

.heroes {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
}

.heroes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  padding: 0.75rem;
  font-size: 1.2rem;
}

.hero div {
  margin-bottom: 3px;
}

.hero input {
  width: 25%;
}

.summary {
  padding-top: 0.5rem;
  background: cornsilk;
}

.summary span {
  margin-left: 1.5rem;
}

.summary button {
  font-size: 1rem;
  padding: 0.25rem 2rem;
  border-radius: 5px;
  background: rgb(167, 245, 11);
}

@media (max-width: 800px) {
  .squad-header {
    width: 80%;
  }

  .heroes {
    width: 80%;
  }
}

@media (max-width: 720px) {
  .squad-header h1 {
    font-size: 1.75rem;
  }

  .squad-header h2 {
    font-size: 1.25rem;
  }

  .heroes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .summary button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 640px) {
  .squad-header h1 {
    font-size: 1.5rem;
  }

  .squad-header h2 {
    font-size: 1rem;
  }

  .heroes-list {
    font-size: 14px;
  }

  .hero input {
    font-size: 14px;
    padding: 0 5px;
  }

  .summary button {
    padding: 0.25rem 1.25rem;
  }
}
