.small-box {
  width: 60%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  border: 1px solid black;
}

.small-box button {
  padding: 5px;
  width: 100px;
  font-size: 1rem;
  margin-left: 2rem;
  outline: none;
  border-radius: 5px;
  background-color: rgb(167, 245, 11);
}

@media (max-width: 500px) {
  .small-box {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .small-box button {
    width: 70px;
    margin-left: 1rem;
  }
}
